LINGXING_APP_ID=
LINGXING_APP_SECRET=
LINGXING_API_BASE_URL=https://openapi.lingxing.com
LINGXING_ACCOUNT=
LINGXING_PASSWORD=
LINGXING_REMEMBER_LOGIN=
ALIBABA_ACCOUNT=
ALIBABA_PASSWORD=
ALIBABA_AUTO_LOGIN=true
AMAZON_REFRESH_TOKEN=
AMAZON_LWA_CLIENT_ID=
AMAZON_LWA_CLIENT_SECRET=
AMAZON_SP_API_SANDBOX=
